<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="images/goldhead.jpg" alt="Materials" />
    </div>
  </div>

  <!-- necklace 1 -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/necklace1.png" alt="...">
        <div class="caption">
          <h3>Gold Bar</h3>
          <p> 14 karat gold </p>
          <p> $39.99 </p>
          <button id="buyButton" type="button" class="btn btn-primary">Buy now!</button>
        </div>
      </div>
    </div>
  </div>

  <!-- necklace 2 -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/necklace2.png" alt="...">
        <div class="caption">
          <h3>Silver Bar</h3>
          <p> Sterling silver </p>
          <p> $29.99 </p>
          <p><a href="http://AlisonGrant.github.io/otherProjects/finalProject/partials/order.html" class="btn btn-primary" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-- necklace 3 -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/necklace3.png" alt="...">
        <div class="caption">
          <h3>Bronze Bar</h3>
          <p> Pure mixture of copper </p>
          <p> $24.99 </p>
          <p><a href="http://AlisonGrant.github.io/otherProjects/finalProject/partials/order.html" class="btn btn-primary" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-- necklace 4 -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/necklace4.png" alt="...">
        <div class="caption">
          <h3>Gold Heart</h3>
          <p> 22 karat gold </p>
          <p> $59.99 </p>
          <p><a href="http://AlisonGrant.github.io/otherProjects/finalProject/partials/order.html" class="btn btn-primary" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-- necklace 5 -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/necklace5.png" alt="...">
        <div class="caption">
          <h3>Silver Heart</h3>
          <p> Sterling silver</p>
          <p> $49.99 </p>
          <p><a href="http://AlisonGrant.github.io/otherProjects/finalProject/partials/order.html" class="btn btn-primary" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>



</div>
