
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <span class="label label-info">Please fill out the following information</span>
      <br>
    </div>

    <div class="col-md-12">
      <input class="mySingleLineText" type="text" class="form-control" placeholder="Type name here">
    </div>

    <div class="col-md-12">
      <h4>Address</h4>
      <input class="mySingleLineText2" type="text" class="form-control" placeholder="">
    </div>

    <div class="col-md-12">
      <h4>ZIP Code</h4>
      <input class="mySingleLineText3" type="text" class="form-control" placeholder="">
    </div>

    <div class="col-md-12">
      <h4>State/Province</h4>
      <input class="mySingleLineText4" type="text" class="form-control" placeholder="">
    </div>

    <div class="col-md-12">
      <h4>Country</h4>
      <input class="mySingleLineText5" type="text" class="form-control" placeholder="">
    </div>

    <div class="col-md-12">
      <br>
      <textarea id="myTextArea" class="form-control" rows="3">Write custom message you want engraved</textarea>
    </div>

    <div class="col-md-12">
      <h4>Choose your preferred chain length</h4>
      <select id="mySelect" class="form-control">
        <option>16 inch chain</option>
        <option>20 inch chain</option>
        <option>24 inch chain</option>
      </select>
    </div>

    <div id="mySelectMessage"></div>

    <div class="col-md-12">
      <h4>Choose material and pendent</h4>
      <label id="selectInfo" class="radio-inline">
        <input type="radio" name="material" value="Gold Bar"> <font color="#C5B358"> Gold Bar </font>
      </label>
      <label class="radio-inline">
        <input type="radio" name="material" value="Silver Bar"> <font color="#C0C0C0"> Silver Bar </font>
      </label>
      <label class="radio-inline">
        <input type="radio" name="material" value="Bronze Bar"> <font color="#cd7f32"> Bronze Bar</font>
      </label>
      <label class="radio-inline">
        <input type="radio" name="material" value="Gold Heart"> <font color="#C5B358"> Gold Heart </font>
      </label>
      <label class="radio-inline">
        <input type="radio" name="material" value="Silver Heart"> <font color="#C0C0C0"> Silver Heart </font>
      </label>
    </div>

    <div class="col-md-12">
      <h4>Give us some feedback!</h4>
      <div class="checkbox">
        <label>
          <input name="feedback" type="checkbox" value="I want more sales!"> I want more sales!
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input name="feedback" type="checkbox" value="I want more length/material options!"> I want more length/material options!
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input name="feedback" type="checkbox" value="I love this site!"> I love this site!
        </label>
      </div>
    </div>

    <div class="col-md-12">
      <button id="myButton" type="button" class="btn btn-info">Buy now!</button>
    </div>

    <div class="col-md-12">
      <div id="log"></div>
      <br>
    </div>

    <div id="successMsg"> </div>


    <div class="col-md-12">
      <p> Sign up for weekly sales and discount codes! </p>
      <br>
      <button id="mailButton" class="btn btn-info" type="button"> <span class="glyphicon glyphicon-envelope"></span> </button>
    </div>

  </div>
</div>
